@{
    ViewBag.Title = "About - Natural handmade Irish soap.  Available all over Ireland";
}
<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>
       
    <div>
        <article>
                <div style="margin-right:10%;">
                    <p>
                        In the depths of winter in 2010, I decided it was high time to tick another one of those things off my "Must Do List".  Making soap was something I had 
                        always wanted to try because I couldn't use most soap due to my severe eczema on my hands. Synthetic fragrances and colours were out of the question, just 
                        irritating it more. Sick and tired of the scentless, foamless soap available for excema sufferers, I started experimenting with cold process soap recipes 
                        and essential oils, keeping things fresh and simple. When the soaps started to sell in the local shops faster than I could make them I realized I was onto 
                        a good thing!
                    </p>
                    <p>
                        I am a <a href="http://www.robynallendesign.com/">Graphic Designer</a> by profession so I have had a great time designing all the packaging, promotional material and the website and I love gardening, 
                        so check out my Facebook page and see all the things I am growing and experimenting with to press for oils in my copper distiller or to use as exfoliants 
                        in the soap.
                    </p>
                    <p>
                        Keeping everything natural is my aim, a pure soap, with  <a href="Ingredients#coconut_oil"> coconut oil</a>, <a href="Ingredients#olive_oil">olive oil</a> and 
                        <a href="Ingredients#palm_oil">palm oil (from sustainable plantations)</a> and <a href="Ingredients#pure_essential_oils">100% pure essential oils</a>. See our <a href="Ingredients">Ingredients</a> 
                        page for a more in-depth explanation of what is in each bar. All the ingredients are labeled clearly in English on the back of each soap box or packet so you can 
                        see what you are putting on your skin, the simple packaging reflecting the simple ingredients. The biggest thing for me was when  my own excema which 
                        covered both hands and wrists and was always so sore and itchy completely cleared up and has stayed that way.  It is so great to be able to use scented soap 
                        again, I always looked longingly at all the beautifully packaged soaps in shops and just knew it wouldn't be worth making my skin flare up again. All my extended 
                        family also have eczema and they are so happy that they can use it too! 
                    </p>
 
                    <p>
                        Have you ever used a commercial soap and come away with dry, irritated skin and wondered why? A lot of people don't even use soap any more because it is so 
                        harsh on the skin.  And in fact, part of the commercial process is to remove one of the most nourishing ingredients in soap: <a href="Ingredients#glycerin">Glycerin.</a> 
                        It is removed so it can be sold to go into other skin care products. This of course never happens in handmade soap, as they have to use chemical solvents 
                        to get it out.
                    </p>
                </div>
        </article>
        <div>
            <img src="/Images/About-pic.jpg""/>
        </div>
    </div>