@{
    ViewBag.Title = "Feedback - Some of our happy customers thoughts on our handmade natural soap";
}

<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<div  class="increase_margin_right">
    <section>
        <p>See what other people have been saying about our soap. And let us know your thoughts. All feedback is greatly 
            appreciated and if you have any suggestions for new products or using your favourite scents then we would love to hear from you.
        </p>
    </section>

    <section>
        <ul class="feedback_ul">
            <li>We use Robyn's Handmade Soaps in our rooms at Ballymaloe House
                and we are delighted with the compliments we have received from our guests on them.<br>
                Hazel Allen, Ballymaloe House June 2012 </li>
            <li>I have very sensitive skin and have never been able to use anything
                remotely scented. I found many soaps said for sensitive skin or for very dry skin
                but the would irrate mine. However, I found after using Robyn's Handmade Soaps,
                they are moisturising and very gentle on my skin. The best part it that they have
                a beautiful natural smell that does not irritate my skin and makes me enjoy using
                them. I would highly recommend them to anyone with any skin type espicallly those
                with sensitive skin.<br>
                Jessica Draper, May 2012</li>
            <li>I have been lucky enough to be the recipient of 2 gifts of Robyn's
                soaps and my only complaint is that I can't buy them in New Zealand! I love the
                great scents, the way they lather up and the sustainable packaging. I'm rationing
                my last bar....<br>
                Jeannie Galavazi, April 2012</li>
            <li>I use Robyn's Handmade soap for myself and my children. It is
                beautfully gentle and smells just gorgeous. I especially love the Lemon Verbena,
                Lime and Patchouli and love the fact that they are all natural ingredients.<br>
                Gabrielle Hinchey, April 2012</li>
            <li>Absolutely love Robyn's Handmade Soaps! I have dry skin and
                have tried so many other soaps but these luxurious soaps are my favourite. They
                make your skin feel soft and silky with all the natural ingredients so I would definitely
                recommend them to my friends. Wonderful product.
                <br>
                Bernadette Ingham, January 2012</li>
            <li>Thanks so much for the gorgeous present - it was great to arrive
                home and find a package! Myself and my mum were only talking about where to find
                a nice soap the other day because so many people ask me where to get it in Debenhams
                and they don't do soaps anymore so now I can tell them about Robyns stuff. I used
                the lime and bergamot - it's lovely and soapy without being too strong smelling
                and I like the way it comes out of the packaging in a nice chunk! The cardboard
                box is a good style too I think.<br>
                Rachel, December 2012 </li>
            <li>I've got one of these in my suitcase on my way home from Ballymaloe - thank you so much for a lovely surprise treat.
                I've also got some little round soaps I bought in the shop, it's irresistibly lovely<br />
                J. Cary
            </li>
            <li>I picked up a bar of Lemon Verbena Lime & Patchouli sop at Well and Good in Midelton and I 
                have just gone to heaven! And I only washed my hands! Tomorrow's shower will be a great treat! 
                I am so pleased to be able to buy such an amazing quality soap produced locally. I'll definitely be back to Well and Good for more. 
                Thank you!<br />
                J O'Dowd
            </li>
            <li>We got your package, thank you so much!! We have already used the soap and it smells so good and is amazing for my eczema! 
                and also we shared some with Amanda's sister who had very sensitive skin and she loved it because she hasn't been able to use any 
                scented products without it itching in years. She said you are a genius and we agree!<br />
                D &amp A Jones
            </li>
        </ul>
    </section>
</div>