@{
    ViewBag.Title = "Ingredients - The all natural ingredints that go into Roybyns Handmade Soap";
}

<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="increase_margin_right">
    <div>
        <p>It is what is in our soap that makes it so special and what's not that differentiates it from the horrible, drying commercial bars that you can buy for next to nothing and will leave your skin dry and scratchy.</p>
        
        <p>No Animal Testing - obviously.</p>
        
        <p>It is of utmost importance that only the necessary ingredients go into our soap and nothing else.....</p>

        <a id="glycerin"></a>
        <p class="Ingredient">Glycerin:</p>
        <p class="margin-top-zero">
            moisture retaining (taken out through a chemical process in commercial soaps to be sold on to make a better profit)
        </p>

        <a id="olive_oil"></a>
        <p class="Ingredient">Olive oil:</p>
        <p class="margin-top-zero">
            moisturising, attracts external moisture and holds it close to the skin.
        </p>

        <a id="coconut_oil"></a>
        <p class="Ingredient">Coconut oil:</p>
        <p class="margin-top-zero">
            creates a rich, foamy, luxurious lather that is easy on sensitive skin.
        </p>

        <a id="palm_oil"></a>
        <p class="Ingredient">Palm oil:</p>
        <p class="margin-top-zero">
            this makes the bar hard and is mild and gentle on the skin.<br>
            Our palm oil comes from plantations that are sustainable and replanted.
        </p>
        
        <!-- SPLIT -->
        <div style="color: #99225F; border-bottom: dashed 1pt;">
            <em class="Ingredient_Titles" >We only use 100% Pure Natural Essential Oils</em>
        </div>

        <br>

        <a id="lavender"></a>
        <p class="Ingredient">Lavender:</p>
        <p class="margin-top-zero">
            well known for its relaxing properties. It has a soothing and calming effect on the nerves, relieving tension, depression, panic, hysteria and nervous exhaustion in general and is effective for headaches, migraines and insomnia. On the skin, lavender oil tones and revitalizes it and it is useful for all types of skin problems, such as abscesses, acne, oily skin, boils, burns, sunburn, wounds, psoriasis, lice, insect bites, stings. It also acts as an insect repellent.
        <p>
        
        <a id="lime"></a>
        <p class="Ingredient">Lime:</p>
        <p class="margin-top-zero">
            Lime essential oil will energize and refresh a tired mind.<br>
            On the skin, it has an astringent action and helps to clear congested skin. Good for oily skin.
        <p>

        <a id="bergamot"></a>
        <p class="Ingredient">Bergamot:</p>
        <p class="margin-top-zero">
            is from the rind of a small hard type of orange- refreshing, uplifting and relaxing. It has a zingy limey scent and is uplifting, deeply calming and relives tension and anxiety. It promotes healing, good for oily skin and repelling insects.
        <p>
        
        <a id="lemon_verbena"></a>
        <p class="Ingredient">Lemon Verbena:</p>
        <p class="margin-top-zero">
            On the skin, it helps to reduce puffiness, can help to break down cellulite and has a great soothing and toning effect. Has a great strong lemony scent.
        <p>

        <a id="patchouli"></a>
        <p class="Ingredient">Patchouli:</p>
        <p class="margin-top-zero">
            helps to promotes cell rejuvenation, tightening of loose skin and heals wounds and sores, while sorting out rough, cracked skin. Patchouli is used externally for the effect it has on skin infections, eczema (specially weeping eczema), acne, chapped skin, as well as varicose veins. Has a deep woody smell, used in small amounts it is used as a 'base' in the soap to hold the lighter essential oils.
        <p>

        <p class="Ingredient">Benzoin:</p>
        <p class="margin-top-zero">
            A good resinous essential oil to use for cracked and dry skin, increasing elasticity and reducing redness, irritation and itching. Also used as a 'base' to hold scents, benzoin smells delightfully like vanilla.
        <p>

        <p class="Ingredient">Ylang Ylang:</p>
        <p class="margin-top-zero">
            has a fresh and delicate floral scent. It has relaxing properties - good for stress and sleeplessness and is also good for your hair.<br>
        </p>


        <!-- SPLIT -->
        <div style="color: #99225F; border-bottom: dashed 1pt;">
            <em class="Ingredient_Titles">Natural Exfoliants:</em>
        </div>
        <br>

        <p class="Ingredient">Oatmeal:</p>
        <p class="margin-top-zero">
            The oatmeal we use is organic. Oatmeal is an exfoliant, it scrubs your skin and removes dead cells. It is soothing and reduces redness, itching and minor skin irritations. Ground oatmeal binds moisturizing emollients to your skin so that it is more elastic and softer. This is called colloidal action.  A great soap to use on your face or when shaving.
        </p>

        <p class="Ingredient">Poppy Seeds:</p>
        <p class="margin-top-zero">
            Grown organically in my own garden.
        </p>

        <p class="Ingredient">Sand:</p>
        <p class="margin-top-zero">
            Collected from my local beach, and sieved.
        </p>

        <p class="Ingredient">Seaweed:</p>
        <p class="margin-top-zero">
            Collected from my local beach, dried and blitzed into tiny pieces.
        </p>

        <!-- SPLIT -->
        <div style="color: #99225F; border-bottom: dashed 1pt;">
            <em class="Ingredient_Titles">Natural Colours:</em><br>
        </div>
        <br>
        
        <p class="Ingredient" >Alkanet Root:</p>
        <p class="margin-top-zero">
            or Dyer's bugloss is a pretty plant with small purple flowers, the root is
            used to create a natural purples and reds. It is also used to colour lip balms and fabrics.
        </p>

        <p class="Ingredient">Stinging Nettle:</p>
        <p class="margin-top-zero">
            very good for dry itchy skin and eczema sufferers.
        </p>

        <p class="Ingredient">Pink Clay:</p>
        <p class="margin-top-zero">
            is useful for tired, sensitive & dehydrated skins. It helps to turn rough and hardened skin into soft and radiant skin, rejuvenating and helping return the skins natural elasticity. Excellent for skin that has had lots of sun exposure.
        </p>

        <p class="Ingredient">Woad:</p>
        <p class="margin-top-zero">
            The only source of blue dye until the 16th century when indigo began being imported from the Far East, the blue dye comes from the green leaves.
        </p>

        <p>
            Robyn's Handmade Soap Company likes to recycle, reduce and reuse as much as it can.<br>
            The cardboard boxes are made from 100% recycled cardboard.<br>
        </p>
    </div>
</section>
