@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShopSuccess</title>
</head>
<body style =" opacity: 0.5">
    <div>
        THIS IS A TEST PAGE
    </div>
</body>
</html>
