@model RobynHandMadeSoap.Product_Categories
<th data-column-name="Name">
    <span >@Html.DisplayNameFor(model => model.Name)</span>
</th>
<th data-column-name="Images" style="width: 190px">
    <span style="float: left" >@Html.DisplayNameFor(model => model.Image_Uri)</span>
    <span style="float: right" >Preview Image</span>
</th>

<th data-column-name="Description">
    <span >@Html.DisplayNameFor(model => model.Description)</span>
</th>